/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    padding: 0;
    margin: 0;
  }

  header ul li:hover {
    background: #021603;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }


  footer ul li:hover {
      background: #021603;
      font-family: Arial, sans-serif;
      font-size: 16px;
     
    }
  